*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color:red;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.wrapperright ul{
    display: flex;
}
.wrapperright ul li{
    list-style: none;
    padding: 0 1rem ;
    font-size: 1.5rem;
    cursor: pointer;
}

.wrapperright a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.resimage{
    background: url(./image/bgn.jpg)no-repeat scroll center /cover;
    height: 100vh;
}

.first h1{
    text-align: center;
    margin: 2rem 0;
}

.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 3rem;
}

.thumbnail{
    width: 30%;
    height: 50%;
    margin: 1rem 0;
    text-align: center;
    border: 1px solid;
    border-radius: 0% 10% 0% 10%;
    background-color: #fff;
    padding: 1rem 0;
    box-shadow:5px 5px;
}