* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Raleway', 'Roboto', sans-serif;
}

.wrapper {
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.wrapperright ul {
    display: flex;
}

.wrapperright a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 0.50rem;
}

.resimage {
    background: url(./image/bgn.jpg)no-repeat scroll center /cover;
    height: 100vh;
}

.resimage{
    text-align: center;
    padding-top: 5rem;
}
.resimage input,button{
    padding: 0.50rem 3rem;
    border-radius: 30px;
    font-size: 1.5rem;
}

.resimage h1{
    color: #fff;
}

.resimage button{
    background-color: rgb(248, 15, 7);
    color: #fff;
}

.first h1  {
    text-align: center;
    margin: 2.5rem 0;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 3rem;
}

.thumbnail {
    width: 30%;
    height: 50%;
    margin: 1rem 0;
    text-align: center;
    border: 1px solid;
    border-radius: 30px;
    background-color: #fff;
    padding: 1rem 0;
}

.thumbnail img{
    border-radius: 30px;
}

.thumbnail img:hover{
    transform: scale(1.2);
    transition: all 1s ease-out;
}

.thumbnail h2:hover{
    transform: scale(1.2);
    transition: all 1s ease-out;
}

.thumbnail a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    padding: 0rem 1rem;
    background-color: red;
    color: #fff;
}

.secondlist{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;     */
}

.secondresponse{
    text-align: center;
    width: 30%;
    border: 1px solid;
    border-radius: 30px;
    margin: 1rem 0rem;
    padding: 2rem 0;
    margin-left: 2rem;
}

.secondresponse img{
    width: 50%;
    border-radius: 20px;
}

.secondresponse a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    padding: 0rem 1rem;
    background-color: red;
    color: #fff;   
}